.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  /* border-left: 5px solid rgba(0, 0, 0, 0.5); */
  /* border-right: 5px solid rgba(0, 0, 0, 0.5); */
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

::selection {
  color: black;
  background: yellow;
}

.hanbiroToFadeInAndOut {
  /* -webkit-animation: fadeInAndOut 1000ms ease;
  animation: fadeInAndOut 1000ms ease; */
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.test {
  align-items: center;
}

.simplebar-scrollbar:before {
  background: #999 !important;
}

.han-loading {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: absolute;
  z-index: 1;
}
.han-loading * {
  box-sizing: border-box;
}
.han-loading .circle,
.han-loading:after,
.han-loading:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(40px / 10) solid transparent;
}
.han-loading.mini {
  width: 20px;
  height: 20px;
}
.han-loading.mini .circle,
.han-loading.mini:after,
.han-loading.mini:before {
  border-width: calc(20px / 10);
}
.han-loading:after {
  border-top-color: #2196f3;
  animation: half-circle-spinner-animation 1s infinite;
}
.han-loading:before {
  border-bottom-color: #2196f3;
  animation: half-circle-spinner-animation 1s infinite alternate;
}
@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
